html,
body {
    margin: 0;
    overflow: hidden;
    background: black;
}

.menu {
    position: absolute;
    inset: 0;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.menu a {
    color: #fff;
    font: 32px monospace;
    text-decoration: underline;
}

canvas {
    display: block;
}