html, body {
    margin: 0;
    overflow: hidden;
    background: black;
}

nav a{
    position:absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
    color:#ffffff;
    font:32px monospace;
    text-decoration:underline;
}

canvas {
    display: block
}